body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #1e678c;
    width:100%;
    color: #fff;
    text-align: center;
    margin: 30px 30px 30px 30px;
    
}


.centered {
    text-align: center;
}

#info {
    margin: 20px;
}

form {
    background-color:white;
    padding: 30px;
    display: inline-block;
    border:2px solid black;
    width: 100%;

}

label, select, input, textarea {
    display: block;
    margin: 5px;
    width: 100%;
}

button.larger-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 20px 40px; 
    cursor: pointer;
    margin:15px;
}
#hi {
    padding:0px;
    
}

#problem-list {
    margin: 20px;
    display: inline-block;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
